
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background: linear-gradient(to right, black, rgb(207, 28, 58), black);
    color: black;
    height: 100vh;
    margin: 0px;
}

h1{
    background: linear-gradient(to right, red 0%, black 50%, red 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 1rem;

}
#Logo{
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
    color: red;
    margin-bottom: 1rem;
    text-align: center;
    
}
#Logo a{
    list-style-type:none;
    text-decoration: none;
    animation: intento-animacion 2s infinite;
    display: inline-block;
}

#icon-carrito{
    color: red;
    font-size: 2rem;
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    cursor: pointer;
}

#icon-carrito #contador-carrito{
  position: absolute;
  top: -10px;
  right: -10px;
  background: white;
  color: black;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
  font-weight: bold;
}

footer{
    background-color: lightgray;
    color: brown;
    padding: 2rem;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    
}

footer p{
    margin-bottom: 2em;
}

footer a{
    color: brown;
    margin: 0 10px;
    text-decoration: none;
}

nav{
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    
    
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    
}

nav ul li:first-child a,
nav ul li:last-child a {
  color: red;
}

nav ul li:nth-child(2) a,
nav ul li:nth-child(3) a,
nav ul li:nth-child(4) a {
  color: black;
}

nav a{
    list-style-type:none;
    text-decoration: none;
    padding: 1%;
}

li{
    padding-left: 1%;
    padding-right: 2%;
}

nav ul li:hover {
  background-color: rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}


#contenedor-productos {
    background: linear-gradient(to right, black, rgb(207, 28, 58), black);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

#contenedor-carrito {
    background: linear-gradient(to right, black, rgb(207, 28, 58), black);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    background-color: rgb(141, 13, 34);
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: red;
    padding: 1rem;
    border-radius: 2rem;
    gap: 1rem;
    width: 18rem;
}
.producto img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}


#boton-vaciar-carrito{
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem ;
    background-color: black;
    color: red;
}
#boton-vaciar-carrito:hover{
    background-color: rgb(141, 13, 34);
    transform: scale(1.2);
    transition: all 1s;
}

.texto-parpadeante{
  font-size: 1.7rem;
  animation: parpadeo 1s infinite;
  text-align: center;
  margin-top: 1rem;
  margin-bottom:1rem;
}
@keyframes parpadeo {
  0% {
    color: white;
  }
  100% {
    color: black;
  }
}
.sections h2{
    text-align: center;
    margin: 1rem 0;
}

.formulario{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    margin: 2% auto;
    padding: 2em;
    width: 35%;
    gap: 0.5em;
    border-radius: 2em;
}



.formulario input, .formulario textarea{
    padding: 1em;
    border-radius: 1em;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 1em;
}

.formulario label{
    color: black;
    font-weight: bold;
    font-size: 1.2em;
}

button{
    background-color: red;
    color: white;
    padding: 1em 2em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}
button:hover{
    background-color: rgb(141, 13, 34);
    transform: scale(1.2);
    transition: all 1s;
}

@keyframes intento-animacion {
  0% {
    color: rgb(255, 0, 0);
    transform: scale(1);
    transform: translate(-10px, -3px);
  }
  10% {
    color: rgb(204, 0, 0);
    transform: scale(1.1);
    transform: translate(0px, -1px);
  }
  20% {
    color: rgb(153, 0, 0);
    transform: scale(1.2);
    transform: translate(10px, 1px);
  }
  30% {
    color: rgb(102, 0, 0);
    transform: scale(1.3);
    transform: translate(20px, 3px);
  }
  40% {
    color: rgb(51, 0, 0);
    transform: scale(1.4);
    transform: translate(30px, 1px);
  }
  50% {
    color: black;
    transform: scale(1.4);
    transform: translate(40px, -1px);
  }
  60% {
    color:rgb(51, 0, 0);
    transform: scale(1.4);
    transform: translate(30px, -3px);
  }
  70% {
    color: rgb(102, 0, 0);
    transform: scale(1.3);
    transform: translate(20px, -1px);
  }
  80% {
    color: rgb(153, 0, 0);
    transform: scale(1.2);
    transform: translate(10px, 1px);
  }
  90% {
    color: rgb(204, 0, 0);
    transform: scale(1.1);
    transform: translate(0px, 3px);
  }
  100% {
    color: rgb(255, 0, 0);
    transform: scale(1);
    transform: translate(-10px, -1px);
  }
}

@media (max-width: 770px) {
    .formulario {
        width: 70%;
    }
}

@media (max-width: 550px) {
    h1{
        font-size: 1.5rem;
    }
}

@media (max-width: 480px) {
    h1{
        font-size: 1.2rem;
    }
}


.audio{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}
